<div class="main col-8 offset-2">
  <div class="top-image col-12">
    <p class="pl-3 py-5" style="font-size: 22px; color: #f5f5f5;">
      ようこそ、ながのCAKEへ！ <br> <br>
      このサイトは、ケーキ販売のECサイトになります。 <br>
      会員でない方も商品の閲覧はできますが、 <br>
      購入には会員登録が必要になります。
    </p>
  </div>
</div>

<div class="new-products mt-2">
  <p class="font-weight-bold h4 offset-2">新着商品</p>
  <ul class="d-flex justify-content-center">
    <% @products.each do |product| %>
      <li class="col-2 mx-3">
        <%= link_to (attachment_image_tag product, :product_image, size: "150x150", fallback: "no_image.jpg"), product_path(product)%>
        <p class="mt-2"><%= product.name %></p>
        <p class="mt-2">¥ <%= include_tax(product.price).to_s(:delimited) %>（税込）</p>
      </li>
    <% end %>
  </ul>
  <p class="col-3 offset-10"><%= link_to "全ての商品を見る >", products_path %></p>
</div>