/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";
  @import 'font-awesome-sprockets';
  @import 'font-awesome';
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: black;

  &:hover {
    color: black;
  }
}

.fa-plus-circle {
  &:hover {
    text-decoration: none;
  }
}

dl dt {
  float: left;
  clear: both;
  font-weight: normal;
  width: 165px;
  padding:10px 0;
}

dl dd {
  padding: 10px 0;
}

li {
  list-style: none;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 96px;
  padding-bottom: 96px;
  z-index: 10;

  a {
    color: white;
  }

  li {
    display: inline-block;
  }
}

.header-div {
  margin-top: 96px;
}

.top-image {
  background-image: url('top-image.png');
  background-position: center;
  background-size: cover;
  height: 300px;
}

.page_title {
  background-color: #dddddd;
  padding: 0.1em 1.2em;
}

.footer_logo{
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 60px;
  padding-bottom: 60px;
  z-index: 10;
}

.footer-div {
  margin-bottom: 60px;
}

ul.pagination {
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #a3a3a3;
  border-color: #868686;
}

.page-link {
  color: #000000;

  &:hover {
    color: #000000;
  }
}

.more-search-row {
  padding-top: 96px;
}