<% case @range when "会員情報" %>
<div class="my-3 offset-1"><span class="page_title">会員情報　検索結果</span></div>
<%= render 'admin/customers/index', customers: @customers %>

<% when "商品名" %>
<div class="row offset-1 justify-content-between">
  <div class="my-3"><span class="page_title">商品名　検索結果</span></div>
<%= render 'admin/products/index', products: @products %>

<% when "注文者名" %>
<div class="my-3 offset-1"><span class="page_title">注文者情報　検索結果</span></div>
<%= render 'admin/homes/top', orders: @orders %>
<% end %>